@model IEnumerable<ITStep.Planner.Models.Entities.Job>

@{
    ViewData["Title"] = "List of your \"projects\"";
}

@if (User.IsInRole("admin"))
{
    <div class="container">
        <h1 class="display-4">List of your projects</h1>
        <div class="list-group">
            <ul class="collapsible">
            <li>
                @foreach (var Job in @Model)
                {
                    <div asp-controller="Projects" asp-action="Jobs" asp-route-id="@Job.ProjectId" 
                        class="list-group-item list-group-item-action">
                        <div class="block_task">
                            <div class="usestyle">
                                <span class="card-title">Название: @Job.Title</span>
                                <span class="card-desctiption">Описание: @Job.Description</span>
                            </div>
                            <div class="info_task">
                                <span class="new green badge" data-badge-caption="Статус: ">@Job.JobStatus.Title</span>
                                <span class="new red badge" data-badge-caption="Дедлайн проекта: ">@Job.Deadline</span>
                            </div>
                        </div>
                    </div> 
                }    
            </li>  
            }
            </ul>
        </div>
    </div>
}